header {
    width: 319px;
    margin-left: 350px;
    margin-top: 100px;
    margin-bottom: 50px;
    color: #42d3ff;
    list-style: none;
    top:0;
}
ul{
    list-style: none;
    display: flex;
    gap:48px;
    margin: 0;
    padding: 0;
    
}
ul li a{
    text-decoration: none;
    color: #1F1534;
    

}
ul li a:hover{
    font-weight: bold;
}
nav{
    display:flex;
    justify-content: space-between;
    align-items: center;
    
}
  
h1 {
    font-family: 'Archivo', sans-serif;
    font-weight: bold;
    font-size: 36px;
    line-height: 42px;
    color: white;
    margin-bottom: 24px;
}
#indice{
    color: black;
}
.input-wrapper{
    display: flex;
    flex-direction: column;
}
.input-wrapper label{
    font-size: 36px;
    font-family: 'Archivo',sans-serif;
    line-height: 24px;
    color: #4e4958;
    margin-bottom: 10px;
    margin-top: 10px;
    
}
.input-wrapper input{
    border-radius: 8px;
    width: 400px;
    height: 36px;
    margin-bottom: 10px;
}
header p {
    font-family: 'Poppins';
    font-size: 16px;
    line-height: 26px;
    color: #42d3ff;
}
p{
    font-family: 'Poppins';
    font-size: 16px;
    line-height: 26px;
    color: #5c6668;
    margin-bottom: 2px;
}
a{
    text-decoration: none;
    color: #42d3ff;;
    font-size: 15px;
    font-family: 'Archivo',sans-serif ;
    border: 1px solid rgb(109, 122, 109);
    background-color: white;
    padding: 10px;
    border-radius: 8px;
}
a:hover{
    font-weight: bold;
    background-color: rgb(186, 186, 186);
}
  
  body::before {
    content: '';
    width: 100%;
    height: 368px;
    background-color: black;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
  }
  
  body {
    margin-top: 100px; /* Define a margem superior da página */
    margin: auto; /* Centraliza o conteúdo horizontalmente */
    background-color: rgb(202, 193, 193);
  }
  
  div {
    padding:100px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-left: 300px;
    margin-right: 300px;
    border-radius: 8px;
    padding: 5px 16px;
    box-sizing: border-box;
    background-color: white;
    font-size: 20px;
    line-height: 26px;
  }
  
  .button-30 {
    align-items: center;
    appearance: none;
    background-color: #FCFCFD;
    border-radius: 4px;
    border-width: 0;
    box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px,rgba(45, 35, 66, 0.3) 0 7px 13px -3px,#D6D6E7 0 -3px 0 inset;
    box-sizing: border-box;
    color: #36395A;
    cursor: pointer;
    display: inline-flex;
    font-family: "JetBrains Mono",monospace;
    height: 48px;
    justify-content: center;
    line-height: 1;
    list-style: none;
    overflow: hidden;
    padding-left: 16px;
    padding-right: 16px;
    position: relative;
    text-align: left;
    text-decoration: none;
    transition: box-shadow .15s,transform .15s;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    white-space: nowrap;
    will-change: box-shadow,transform;
    font-size: 18px;
    margin-bottom: 20px;
  }
  
  .button-30:focus {
    box-shadow: #D6D6E7 0 0 0 1.5px inset, rgba(45, 35, 66, 0.4) 0 2px 4px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
  }
  
  .button-30:hover {
    box-shadow: rgba(45, 35, 66, 0.4) 0 4px 8px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
    transform: translateY(-2px);
  }
  
  .button-30:active {
    box-shadow: #D6D6E7 0 3px 7px inset;
    transform: translateY(2px);
  }